create database Product
go
USE [Product]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08/20/2013 08:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[maker] [nchar](10) NULL,
	[model] [int] NULL,
	[type] [nvarchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([maker], [model], [type]) VALUES (N'A         ', 1001, N'pc')
INSERT [dbo].[Product] ([maker], [model], [type]) VALUES (N'A         ', 1002, N'pc')
INSERT [dbo].[Product] ([maker], [model], [type]) VALUES (N'A         ', 1003, N'pc')
/****** Object:  Table [dbo].[Printer]    Script Date: 08/20/2013 08:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Printer](
	[model] [int] NOT NULL,
	[color] [bit] NULL,
	[type] [varchar](8) NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Printer] ([model], [color], [type], [price]) VALUES (3001, 1, N'ink-jet', 99)
INSERT [dbo].[Printer] ([model], [color], [type], [price]) VALUES (3002, 0, N'laser', 239)
INSERT [dbo].[Printer] ([model], [color], [type], [price]) VALUES (3003, 0, N'laser', 899)
/****** Object:  Table [dbo].[PC]    Script Date: 08/20/2013 08:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PC](
	[model] [int] NULL,
	[speed] [decimal](5, 2) NULL,
	[ram] [int] NULL,
	[hd] [int] NULL,
	[price] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PC] ([model], [speed], [ram], [hd], [price]) VALUES (1001, CAST(2.66 AS Decimal(5, 2)), 1024, 250, 2114)
INSERT [dbo].[PC] ([model], [speed], [ram], [hd], [price]) VALUES (1002, CAST(2.10 AS Decimal(5, 2)), 512, 250, 995)
INSERT [dbo].[PC] ([model], [speed], [ram], [hd], [price]) VALUES (1003, CAST(1.42 AS Decimal(5, 2)), 512, 80, 478)
/****** Object:  Table [dbo].[Laptop]    Script Date: 08/20/2013 08:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop](
	[model] [int] NULL,
	[speed] [decimal](5, 2) NULL,
	[ram] [int] NULL,
	[hd] [int] NULL,
	[screen] [numeric](5, 1) NULL,
	[price] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Laptop] ([model], [speed], [ram], [hd], [screen], [price]) VALUES (2001, CAST(2.00 AS Decimal(5, 2)), 2048, 240, CAST(20.1 AS Numeric(5, 1)), 3673)
INSERT [dbo].[Laptop] ([model], [speed], [ram], [hd], [screen], [price]) VALUES (2002, CAST(1.73 AS Decimal(5, 2)), 1024, 80, CAST(17.0 AS Numeric(5, 1)), 949)
INSERT [dbo].[Laptop] ([model], [speed], [ram], [hd], [screen], [price]) VALUES (2003, CAST(1.80 AS Decimal(5, 2)), 512, 60, CAST(15.4 AS Numeric(5, 1)), 549)


--drop database Product
select * from Product; 

select distinct maker, type from Product;

select * from PC;

select model, price as "price in $", price*25 as "Nghin VND" from PC; 
